body {
    background-image: url('image/wave_background (1).png');
    background-size: cover;
    font-family: 'Poppins', sans-serif;
    margin: 0;
}



.container {
    position: relative;
    bottom: 0px;
    background-color: white;
    width: 300px;
    height: 50px;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 10px;
    margin: auto;
    margin-top: 400px;
    transition: height 0.5s ease, bottom 0.5s ease;;
}



.position {
    height: 30px;
    position: relative;
    top: 8px

}


.positionInput {
    width: 200px;
    height: 40px;
    font-size: large;
    border: 0;
    outline: none;

}



.positionInput::placeholder {
    color: rgb(0, 0, 0);
}


.search {
    width: 20px;
}



.searchButton {
    width: 50px;
    height: 50px;
    background-color: #c3effa;
    border: 0;
    border-radius: 50px;

}


.searchButton:hover {
    background-color: rgb(255, 255, 255);
    -webkit-filter: invert(100%);
    filter: invert(100%);
    cursor: pointer;

}

.end {
    display: flex;
    flex-direction: row;
    font-size: 20px;
}

.end h2{
    font-size: 15px;

}


.end h1{
    font-size: 25px;

}

.winds{
    width: 60px;
    height: 60px;
    margin-top: 8px;
    
}

.humi {
    width: 35px;
    height: 30px;
    margin-top: 22px;
    padding-right: 10px;

}



.imageEtat {
    margin-left: 40px;
    margin-top: 10px;
}

.temperature {
    margin: 0;
    position: relative;
    left: 100px;
    bottom: 30px;
    font-size: 50px;
    height: 25px;
}


.meteo {
    margin: 0;
    margin-bottom: 30px;
    position: relative;
    left: 95px;
}

.humidity {
    display: flex;
    flex-direction: row;
    margin-top: 15px;
    margin-left: 11px;

}


.wind {
    display: flex;
    flex-direction: row;
    margin-top: 15px;
    margin-left: 15px;


}

.wind h2{
    width: 150px;
}


.values h1,h2{
    display: flex;
    flex-direction: column;
    margin: 0;
}


#degree {
    font-size: 25px;
    position: relative;
    bottom: 15px;
}


.principal {
    visibility: hidden;
    opacity: 0;
    transition: all 2.2s ease;

}